<a href="https://colab.research.google.com/github/RAGAVARSHINI03/Unsupervised-Machine-Learning-Project/blob/main/Unsupervised_ML_project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Unsupervised Machine Learning
Project

Problem Statement: Utilize agglomerative clustering for actual and predicted classTasks to be performed:

•Load the file “zoo.data” and look at the info and first five rows.
 The first column denotes the animal name and the last one specifies a high-level class for the corresponding animal.

 •Find out the unique number of high level class.

 •Use the 16-intermediate feature and perform an agglomerative clustering. [ Hint: Refer to the agglomerative clustering module in scikit learn and set the number of clusters appropriately]

 •Compute the mean squared error by comparing the actual class and predicted high level class.

1.Load the file “zoo.data” and look at the info and first five rows.The first column denotes the animal name and the last one specifies a high-level class for the corresponding animal.

In [ ]:
#importing required libraries
import pandas as pd

# Load the zoo dataset
zoo_data = pd.read_csv('/content/zoo.csv')

In [ ]:
zoo_data.head()

,animal_name,hair,feathers,eggs,milk,airborne,aquatic,predator,toothed,backbone,breathes,venomous,fins,legs,tail,domestic,catsize,class_type
0,aardvark,1,0,0,1,0,0,1,1,1,1,0,0,4,0,0,1,1
1,antelope,1,0,0,1,0,0,0,1,1,1,0,0,4,1,0,1,1
2,bass,0,0,1,0,0,1,1,1,1,0,0,1,0,1,0,0,4
3,bear,1,0,0,1,0,0,1,1,1,1,0,0,4,0,0,1,1
4,boar,1,0,0,1,0,0,1,1,1,1,0,0,4,1,0,1,1

In [ ]:
# Display dataset information and first five rows
print("Dataset Information:")
print(zoo_data.info())

print("\nFirst Five Rows:")
print(zoo_data.head())

Dataset Information:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 101 entries, 0 to 100
Data columns (total 18 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   animal_name  101 non-null    object
 1   hair         101 non-null    int64
 2   feathers     101 non-null    int64
 3   eggs         101 non-null    int64
 4   milk         101 non-null    int64
 5   airborne     101 non-null    int64
 6   aquatic      101 non-null    int64
 7   predator     101 non-null    int64
 8   toothed      101 non-null    int64
 9   backbone     101 non-null    int64
 10  breathes     101 non-null    int64
 11  venomous     101 non-null    int64
 12  fins         101 non-null    int64
 13  legs         101 non-null    int64
 14  tail         101 non-null    int64
 15  domestic     101 non-null    int64
 16  catsize      101 non-null    int64
 17  class_type   101 non-null    int64
dtypes: int64(17), object(1)
memory usage: 14.3+ KB
None

First Five Rows:
  animal_name  hair  feathers  eggs  milk  airborne  aquatic  predator  \
0    aardvark     1         0     0     1         0        0         1
1    antelope     1         0     0     1         0        0         0
2        bass     0         0     1     0         0        1         1
3        bear     1         0     0     1         0        0         1
4        boar     1         0     0     1         0        0         1

   toothed  backbone  breathes  venomous  fins  legs  tail  domestic  catsize  \
0        1         1         1         0     0     4     0         0        1
1        1         1         1         0     0     4     1         0        1
2        1         1         0         0     1     0     1         0        0
3        1         1         1         0     0     4     0         0        1
4        1         1         1         0     0     4     1         0        1

   class_type
0           1
1           1
2           4
3           1
4           1

2.Find out the unique number of high level class.

In [ ]:
# Find the unique number of high-level classes
actual_classes = zoo_data['class_type']
num_unique_classes = actual_classes.nunique()

print(f"\nNumber of Unique High-Level Classes: {num_unique_classes}")

Number of Unique High-Level Classes: 7

3.Use the 16-intermediate feature and perform an agglomerative clustering. [ Hint: Refer to the agglomerative clustering module in scikit learn and set the number of clusters appropriately]

In [ ]:
from sklearn.cluster import AgglomerativeClustering

# Extract features (16 intermediate features)
features = zoo_data.iloc[:, 1:-1]

# Perform Agglomerative Clustering
agg_cluster = AgglomerativeClustering(n_clusters=num_unique_classes, linkage='ward')
predicted_classes = agg_cluster.fit_predict(features)

print("\nPredicted Classes (First 10):")
print(predicted_classes[:10])

Predicted Classes (First 10):
[1 1 2 1 1 1 1 2 2 1]

4.Compute the mean squared error by comparing the actual class and predicted high level class.

In [ ]:
from sklearn.metrics import mean_squared_error

# Compute the Mean Squared Error (MSE)
mse = mean_squared_error(actual_classes, predicted_classes)

print(f"\nMean Squared Error (MSE): {mse}")

Mean Squared Error (MSE): 7.673267326732673